<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Crop Recognition and Suggestions</h1>
        </header>
        <main>
            <section id="image-upload-section">
                <h2>Upload an Image of a Crop</h2>
                <input type="file" id="imageInput" accept="image/*" />
                <button id="submitButton" onclick="uploadImage()">Submit</button> <!-- Added Submit button -->
                <div id="cropSuggestion" class="result-box"></div>
            </section>
        </main>
        <footer>
            <p>Created by <strong>Team Aimers</strong></p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
